body{
    text-align: center;
    align-items: center;
    background-color: grey;
}
.btn{
    padding-inline: 20px;
    padding-block: 10px;
    margin: 5px;
    background-color: rgb(8, 8, 104);
    color: aliceblue;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column ;
}
.div-main{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(117, 52, 171);
    color: rgb(0, 3, 3);
}
input{
    margin: 10px;
    height: 30px;
    width: 400px;
    border-radius: 5px;
}
